{% extends 'template.html.twig' %}
{% block css %}
{% endblock %}

{% block body %}
<h1>Test Page</h1>
    <p>Here category</p>
    {{ category }}
    <p>Here come numbers</p>
    {{ number }}
    <P>Title</P>
    {{ examTitle }}
    <p>QuestionId</p>
    {{ questionId }}
{% endblock %}