{% extends 'template.html.twig' %}
{% block css %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock %}
{% block body %}
{#<div id="outer">#}
    {#<div id="container">#}
        {#<div class="row">#}
            {#<div class="col-md-10 col-md-offset-5">#}
                {#Choose Login option#}
            {#</div>#}
        {#</div>#}
        {#<div class="row">#}
            {#<div class="col-md-5 col-md-offset-5">#}
                {#<a href="{{ path('teacher_login') }}">#}
                    {#<button type="submit" class="btn btn-primary">Login as teacher</button>#}
                {#</a>#}
            {#</div>#}
        {#</div>#}
        {#<div class="row">#}
            {#<div class="col-md-5 col-md-offset-5">#}
                {#<a href="{{ path('student_login') }}">#}
                    {#<button type="submit" class="btn btn-primary">Login as student</button>#}
                {#</a>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{#</div>#}
    {% if app.session.flashBag.has('msg')%}
        <div class="container">
            <div class="alert alert-danger">
                {% for msg in app.session.flashBag.get('msg') %}
                    {{ msg }}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <div id="outer">
        <div id="container">
            <form action="{{ path('login') }}" method="post" class="form-group">
                <div class="row">
                    <div class="col-xs-2">
                        <label for="username">Username:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2">
                        <input type="text" id="username" name="_username" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2">
                        <label for="password">Password:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2">
                        <input type="text" id="password" name="_password" class="form-control">
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-xs-2">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}


