{% extends 'template.html.twig' %}
{% block css %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% endblock %}
{% block body %}
    <p>Choose Login option</p>
<div>
    <a href="{{ path('teacher_login') }}">
        <button type="submit" class="btn btn-primary">Login as teacher</button>
    </a>
</div>

<div>
    <a href="{{ path('student_login') }}">
        <button type="submit" class="btn btn-primary">Login as student</button>
    </a>
</div>
{% endblock %}


