<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {% block css %}{% endblock %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="{{ asset('build/app.css') }}" rel="stylesheet"/>
</head>
<div class="container">
    <a href="{{ path('logout') }}">
        <button class="btn btn-primary">Logout</button>
    </a>
</div>

<body>
{% block body %}{% endblock %}

{% block javascript %}{% endblock %}
<script src="{{ asset('build/app.js') }}"></script>
</body>
</html>