{% extends 'template.html.twig' %}

{% block css %}
{% endblock %}

{% block body %}
<h1>Here comes teacher main </h1>
    <div>back menu</div>
    <div>teacher information</div>
    <div>here is for the make question</div>
    <P>
        <a href="{{ path("teacher_make_question", {'teacherId': teacherId}) }}"><button>Make Question</button></a>
    </P>
    <p>here could come for making exam with select</p>
    <p>
        <a href="{{ path("teacher_make_exam", {'teacherId': teacherId}) }}"><button>Make Exam</button></a>
    </p>
    <p>here could come for making exam with random</p>
    <p>
        <a href="{{ path("teacher_make_exam_random", {'teacherId': teacherId}) }}"><button>Make Exam</button></a>
    </p>

{% endblock %}