{% extends 'template.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock %}

{% block body %}

<div class="container">

    <div><a href="{{ path('student_main') }}"><button class="btn btn-info">
                back
            </button></a></div>
    <br>

{#for checking that does student already applied exam or not,#}
    {#push exam id from examResult entity filtered by student #}
    {% set checkArray = [] %}
    {% for checkData in result %}
    {% set checkArray = checkArray|merge([checkData.exam.id]) %}
    {% endfor %}
    <table>
    {% for exam in exams %}
        {% if exam.ispublished == true %}
            <tr><td><table class="table table-bordered table-striped">
                        <tr>
                            <th colspan="2" class="text-center">{{ exam.examTitle }}</th>
                        </tr>
                        <tr>
                            <th>Created Date</th>
                            <td>{{ exam.date | date('d.m.Y') }}</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text-center">
                                    {% if exam.id in checkArray %}
                                        <span class="badge badge-pill badge-danger">
                                            You already applied
                                        </span>
                                    {% else %}
                                        <a href="{{ path('exam_show', {'examId': exam.id, 'studentId':studentId}) }}">
                                            <button class="btn btn-success">Take Exam</button></a>
                                    {% endif %}
                            </td>
                        </tr>
                    </table></td></tr>
        {% endif %}
    {% endfor %}
    </table>
</div>
{% endblock %}